# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# clint side
react-app/node_modules
react-app/dist
react-app/dist-ssr

react-app/logs
react-app/*.log
react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*
react-app/pnpm-debug.log*
react-app/lerna-debug.log*


# overall
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env