.kanban-container{
    .board{
        width:360px;
        margin:10px;
        background-color: rgb(236, 242, 247);
            .tasks-list{
                .task{
                    padding:10px;
                    margin:5px 0px;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: var(white, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
                    .task-link {
                        text-decoration: none;
                        cursor: pointer;
                        h4{
                            font-size:16px;
                        }
                    }
                    .task-header{
                        margin-bottom:10px;
                    }
                }
            }
    }
}