.board-column-btn{
    width: 100%;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    padding:10px 15px;
    vertical-align: middle;
    cursor: pointer;
    color:rgb(0, 0, 0);
    border-radius: 5px;
    border:none;
}
.board-column-btn:hover{
    text-decoration: none;
    color:black;
    background-color: white;
}
.board-column-btn i{
    margin-right:5px;

}
